.App {
  display: block;
}

.container {
  width: 500px;
  display: block;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.footer {
  display: flex;
  justify-content: center ;
}